
/* ---------------------------------
  HEADER
  ---------------------------------- */

.icon-blue {
    background-image: url(../images/blue.gif) !important;
}
.icon-logo {
    background-image: url(../images/logo.png) !important;
}

/* ---------------------------------
  CONTENT
  ---------------------------------- */

.icon-square {
    background-image: url(../images/square.gif) 
}

